* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
input{  
  background:none;  
  outline:none;  
  border:0px;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #1d2531;
}
.mian-box {
  width: auto;
  height: 100%;
  margin-left: 80px;
  background-color: #222c3c;
}
.text-area {
  width: auto;
  height: 100%;
  margin-left: 200px;
  background-color: #ffffff;
  position: relative;
}
.nav-icon {
  height: 250px;
  width: 80px;
  display: fixed;
  float: left;
}
.nav-icon::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.nav-icon .icon-pic {
  width: 50px;
  height: 50px;
  margin: 10px 15px;
  float: left;
}
.nav-icon .icon-pic1 {
  background-image: url("../images/12_15_06.png");
  background-size: 100% 100%;
}
.nav-icon .icon-pic2 {
  background-image: url("../images/12_15_19.png");
  background-size: 100% 100%;
}
.nav-icon .icon-pic3 {
  background-image: url("../images/12_15_33.png");
  background-size: 100% 100%;
}
.nav-icon .icon-pic4 {
  background-image: url("../images/12_15_40.png");
  background-size: 100% 100%;
}
.bottom-icon .icon-pic5 {
  background-image: url("../images/12_15_89.png");
  background-size: 100% 100%;
  margin-left: 15px;
  margin-right: 10px;
}
.bottom-icon .icon-pic6 {
  background-image: url("../images/12_15_91.png");
  background-size: 100% 100%;
}
.bottom-icon {
  height: 30px;
  width: 80px;
  display: fixed;
  position: absolute;
  bottom: 20px;
}
.bottom-icon::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.bottom-icon .small-icon{
  float: left;
  width: 20px;
  height: 20px;
}
.monthly-goals {
  height: 50px;
  width: 200px;
  display: fixed;
  float: left;
  position: absolute;
  bottom: 20px;
  left: 80px;
}
.monthly-goals p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.monthly-goals .line-bottom {
  height: 3px;
  width: 170px;
  background-color: #2d3848;
  margin: 10px auto;
}
.monthly-goals .line-bottom .line-top {
  height: 100%;
  width: 50px;
  background-color: #896de5;
}
.mian-box .nav-menu {
  height: 100%;
  width: 200px;
  float: left;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
   /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
/*chrome下隐藏滚动条*/
.mian-box .nav-menu::-webkit-scrollbar {
   display: none;
}
.mian-box .nav-menu::after{
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.mian-box .nav-menu .second-menu {
  position: relative;
}
.mian-box .nav-menu .second-menu1,
.mian-box .nav-menu .second-menu2 {
  border-bottom: 1px solid #2a3547;
}
.mian-box .nav-menu .second-menu .tool-pic {
  width: 15px;
  height: 15px;
  background-image: url(../images/12_15_91.png);
  background-size: 100% 100%;
  float: right;
  position: absolute;
  right: 30px;
}
.mian-box .nav-menu .second-menu1 .number-pic {
  width: 30px;
  height: 23px;
  background-image: url(../images/12_15_21.png);
  background-size: 100% 100%;
  float: right;
  position: absolute;
  right: 30px;
  top: 52px;
}
.mian-box .nav-menu .second-menu p {
  font-family: arial;
  font-size: 12px;
  color: #b7c0cd;
  margin: 15px 0 15px 30px;
}
.mian-box .nav-menu .second-menu2 .normal-word {
  margin-left: 50px;
}
.mian-box .nav-menu .second-menu .title-word {
  color: #5b6779;
}
.mian-box .nav-menu .second-menu .small-pic {
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  position: absolute;
  left: 30px;
}
.mian-box .nav-menu .second-menu .small-pic1 {
  background-image: url(../images/12_15_46.png);
  top: 30px;
}
.mian-box .nav-menu .second-menu .small-pic2 {
  background-image: url(../images/12_15_52.png);
  top: 57px;
}
.mian-box .nav-menu .second-menu .small-pic3 {
  background-image: url(../images/12_15_55.png);
  top: 87px;
}
.mian-box .nav-menu .second-menu .small-pic4 {
  background-image: url(../images/12_15_58.png);
  top: 117px;
}
.mian-box .nav-menu .second-menu3 .number-pic {
  width: 30px;
  height: 23px;
  background-image: url(../images/12_15_64.png);
  background-size: 100% 100%;
  float: right;
  position: absolute;
  right: 30px;
  top: 27px;
}
.mian-box .nav-menu .second-menu3 .Danger-pic {
  width: 20px;
  height: 20px;
  background-image: url(../images/12_15_69.png);
  background-size: 100% 100%;
  float: right;
  position: absolute;
  right: 30px;
  top: 82px;
}
.text-area .top-message {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e6e9ec; 
  overflow: hidden;
}
.text-area .top-message::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.text-area .top-message > p {
  float: left;
  font-size: 25px;
  color: #354052;
  margin: 20px 0 20px 30px;
}
.text-area .top-message .personlIcon {
  width: 220px;
  height: 100%;
  float: right;
  margin: 13px 0;
}
.text-area .top-message .personlIcon .icon {
  background-image: url(../images/12_15_03.png);
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-size: 100% 100%;
  float: left;
}
.text-area .top-message .personlIcon .words {
  float: left;
}
.text-area .top-message .personlIcon .words .name {
  color: #2399f1;
  margin-top: 6px;
}
.text-area .top-message .personlIcon .words .user {
  color: #c9c9c9;
  font-size: 12px;
}
.text-area .top-message .personlIcon .more-icon {
  float: left;
  background-image: url(../images/12_15_88.png);
  width: 13px;
  height: 8px;
  background-size: 100% 100%;
  margin: 20px 0 20px 20px;
}
.text-area .two-textarea .left-area {
  float: left;
  width: 30%;
  position: absolute;
  top: 80px;
  bottom: 0;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  border-right: 1px solid #e6e9ec;
  min-width: 200px;
   /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
  /*火狐下隐藏滚动条*/
  overflow: -moz-scrollbars-none;
}
/*chrome下隐藏滚动条*/
.text-area .two-textarea .left-area::-webkit-scrollbar {
   display: none;
}
.text-area .two-textarea .left-area .select-area .icon-select {
  background-image: url(../images/12_15_23.png);
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
  position: absolute;
  right: 13%;
  top: 20px;
}
.text-area .two-textarea .left-area::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.text-area .two-textarea .right-area::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.text-area .two-textarea .left-area .select-area {
  width: 100%
  height: 70px;
  border-bottom: 1px solid #e6e9ec;
}
.text-area .two-textarea .left-area .select-area input {
  border: 1px solid #e6e9ec;
  border-radius: 5px;
  width: 80%;
  min-width: 80px;
  height: 30px;
  margin: 10px 9%;
  text-indent: 20px;
  color: #b2bac8;
}
.text-area .two-textarea .left-area .message-box {
  width: 100%;
}
.text-area .two-textarea .left-area .message-box .message-lite {
  width: 100%;
  border-bottom: 1px solid #e6e9ec;
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  margin: 10px 10px 10px 30px;
  float: left;
}
.text-area .two-textarea .left-area .message-box .message-lite .user .pargroess {
  float: left;
  margin: 10px 20px;
}
.text-area .two-textarea .left-area .message-box .message-lite .user .pargroess > p {
  color: #585d68;
}
.text-area .two-textarea .left-area .message-box .message-lite .user .pargroess .little-word {
  font-size: 12px;
  color: #bababa;
}
.text-area .two-textarea .left-area .message-box .message-lite .time {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: #909eb0;
}
.text-area .two-textarea .left-area .message-box .message-lite > p {
  color: #797d86;
  font-size: 12px;
  margin: 5px 20px;
  text-align: justify;
  margin-bottom: 20px;
}
.text-area .two-textarea .left-area .message-box .message-lite .user::after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic1 {
  background-image: url(../images/12_15_31.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic2 {
  background-image: url(../images/12_15_44.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic3 {
  background-image: url(../images/12_15_59.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic4 {
  background-image: url(../images/12_15_65.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic5 {
  background-image: url(../images/12_15_71.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic6 {
  background-image: url(../images/12_15_81.png);
}
.text-area .two-textarea .left-area .message-box .message-lite .user .face-pic7 {
  background-image: url(../images/12_15_83.png);
}
.text-area .two-textarea .right-area {
  width: 70%;
  height: 78vh;
  float: right;
}
.text-area .two-textarea .right-area .user-nav {
  width: 100%;
  height: 51px;
  border-bottom: 1px solid #e6e9ec;
  position: relative;
}
.text-area .two-textarea .right-area .user-nav > p {
  line-height: 51px;
  margin-left: 30px;
  color: #585d68;
  float: left;
}
.text-area .two-textarea .right-area .user-nav .useful-tool {
  position: absolute;
  top: 7px;
  right: 250px;
  width: 110px;
  height: 35px;
  background-size: 100% 100%;
  float: left;
  background-image: url(../images/12_15_15.png);
}
.text-area .two-textarea .right-area .user-nav .words {
  color: #56688a;
  font-size: 15px;
  border-left: 1px solid #e6e9ec;
  text-indent: 30px;
  position: absolute;
  top: 15px;
  right: 120px;
  float: left;
}
.text-area .two-textarea .right-area .user-nav .botton {
  position: absolute;
  top: 7px;
  right: 10px;
  float: left;
  width: 75px;
  height: 35px;
  background-size: 100% 100%;
  background-image: url(../images/12_15_17.png);
}
.text-area .two-textarea .right-area .main-message {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
 }
.text-area .two-textarea .right-area .main-message .first-box {
  width: 100%;
  border-bottom: 1px solid #e6e9ec;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic {
  width: 50px;
  height: 50px;
  float: left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic1 {
  background-image: url(../images/12_15_31.png);
  margin: 10px 10px 0 30px;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic2 {
  background-image: url(../images/12_15_03.png);
  margin: 10px 10px 0 30px;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic3 {
  background-image: url(../images/12_15_31.png);
  margin: 10px 10px 0 30px;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic4 {
  background-image: url(../images/12_15_03.png);
  margin: 10px 10px 0 30px;
}
.text-area .two-textarea .right-area .main-message .box .content-message .pic5 {
  background-image: url(../images/12_15_31.png);
  margin: 10px 10px 0 30px;
}
.text-area .two-textarea .right-area .main-message .pic6 {
  background-image: url(../images/12_15_85.png);
}
.text-area .two-textarea .right-area .main-message .first-box {
  border-bottom: 1px solid #e6e9ec;
}
.text-area .two-textarea .right-area .main-message .second-box {
  border-bottom: 1px solid #a7d6f9;
}
.text-area .two-textarea .right-area .main-message .box .content-message .words {
  width: 80%;
  float: left;
  font-size: 12px;
  color: #858890;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-area .two-textarea .right-area .main-message .box .content-message .words .name {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  color: #585d68;
}
.text-area .two-textarea .right-area .main-message .box .content-message::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.text-area .two-textarea .right-area .box::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
.text-area .two-textarea .right-area .main-message .Tuesday,
.text-area .two-textarea .right-area .main-message .NewMessages {
  float: left;
  position: absolute;
}
.overflowHide {
    overflow: scroll;
    /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
    -ms-overflow-style: none;
    /*火狐下隐藏滚动条*/
    overflow: -moz-scrollbars-none;
}

/*chrome下隐藏滚动条*/
.overflowHide::-webkit-scrollbar {
    display: none;
}
.picbox img {
  width: 160px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.ending {
  display: fixed;
  position: relative;
}
.ending .inputbox {
  border: 1px solid #e6e9ec;
  margin-left: 5%;
  width: 80%;
  border-radius: 10px;
}
.ending input {
  float: left;
  width: 80%;
  height: 50px;
  text-indent: 20px;
  font-size: 12px;
  color: #56688a;
}
.ending .pic6 {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #fafbfc; 
  float: left;
  background-image: url(../images/12_15_85.png);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e6e9ec;
  border-radius-left-top: 10px;
  border-radius-left-bottom: 10px;
}